<h1>Editing type technology</h1>

<%= render "form", type_technology: @type_technology %>

<br>

<div>
  <%= link_to "Show this type technology", @type_technology %> |
  <%= link_to "Back to type technologies", type_technologies_path %>
</div>
