<h1>Editing type skill</h1>

<%= render "form", type_skill: @type_skill %>

<br>

<div>
  <%= link_to "Show this type skill", @type_skill %> |
  <%= link_to "Back to type skills", type_skills_path %>
</div>
