<p style="color: green"><%= notice %></p>

<h1>Type skills</h1>

<div id="type_skills">
  <% @type_skills.each do |type_skill| %>
    <%= render type_skill %>
    <p>
      <%= link_to "Show this type skill", type_skill %>
    </p>
  <% end %>
</div>

<%= link_to "New type skill", new_type_skill_path %>
