<%= form_with(model: project_technology) do |form| %>
  <% if project_technology.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project_technology.errors.count, "error") %> prohibited this project_technology from being saved:</h2>

      <ul>
        <% project_technology.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
