<p style="color: green"><%= notice %></p>

<h1>Project technologies</h1>

<div id="project_technologies">
  <% @project_technologies.each do |project_technology| %>
    <%= render project_technology %>
    <p>
      <%= link_to "Show this project technology", project_technology %>
    </p>
  <% end %>
</div>

<%= link_to "New project technology", new_project_technology_path %>
