<h1>Editing user user type</h1>

<%= render "form", user_user_type: @user_user_type %>

<br>

<div>
  <%= link_to "Show this user user type", @user_user_type %> |
  <%= link_to "Back to user user types", user_user_types_path %>
</div>
