  <body>

  <nav class="nav">
  <a class="nav-link active" aria-current="page" href="/projects">projects</a>
  <a class="nav-link" href="/skills">skills</a>
  <a class="nav-link" href="/technologies">technologies</a>
</nav>
    <%= yield %>
  </body>
